<div>
  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem">

    <div *ngFor="let question of questions">
      <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>

  </form>

  <!-- Print the form results -->
  <div *ngIf="payLoad">
    <strong>Saved the following values</strong>
    <br>
    {{payLoad}}
  </div>

</div>

<mat-divider></mat-divider>

